build/
dist/
*.egg-info/
**/__pycache__/

**/.ipynb_checkpoints
**/.ipynb_checkpoints/**

*.swp

.vscode/

**/output/*
**/model/*
**/results/*

**/freiburg_forest_annotated/*
**/lightning_logs/*

*.ckpt